/* .dark {
  background: #1f232a;
} */

.test,
.test1 {
  color: black;
  width: 100vw;
  height: 100vh;
  background-color: rgb(168, 168, 168);
}

/* -------------------------------------------- */
/* -------------- GOOGLE FONTS ---------------- */
/* -------------------------------------------- */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

/* -------------------------------------------- */
/* -------------- VARIABLES CSS --------------- */
/* -------------------------------------------- */
:root {
  --header-height: 3rem;

  /* ---------- COLORS -------- */
  /* Change favourite color */
  --hue-color: 199;

  /* HSL color mode */
  /* #00abfd */
  --first-color: hsl(var(--hue-color), 95%, 68%);
  --first-color-second: hsl(var(--hue-color), 69%, 61%);
  --first-color-alt: hsl(var(--hue-color), 57%, 53%);
  --first-color-lighter: hsl(var(--hue-color), 92%, 85%);
  --title-color: hsl(var(--hue-color), 8%, 25%);
  --text-color: hsl(var(--hue-color), 8%, 45%);
  --text-color-light: hsl(var(--hue-color), 8%, 65%);
  --input-color: hsl(var(--hue-color), 70%, 96%);
  --body-color: hsl(var(--hue-color), 60%, 99%);
  --container-color: #fff;
  --nav-shadow: 0 3px 3px rgba(219, 219, 219, 0.637);

  /* ---------- Font and Typography ---------- */
  --body-font: 'Roboto', sans-serif;

  --big-font-size: 2rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1.125rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;

  /* ---------- Font Weight ---------- */
  --font-medium: 500;
  --font-bold: 700;

  /* ---------- Margins Bottom ---------- */
  --mb-0-25: 0.25rem;
  --mb-0-5: 0.5rem;
  --mb-0-75: 0.75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;
  --mb-3: 3rem;

  /* ---------- Z-index ---------- */
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
}

/* ---------- Font size for large devices ---------- */
@media screen and (min-width: 958px) {
  :root {
    --big-font-size: 3rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
  }
}

/* -------------------------------------------- */
/* ------------------- BASE ------------------- */
/* -------------------------------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0 0 var(--header-height) 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
  /* background: var(--clr-background);
  color: var(--clr-foreground); */
}

/* .scroll__container {
  height: 100vh;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
}

section {
  scroll-snap-align: start;
  height: 100vh;
} */

h1,
h3,
h4 {
  color: var(--title-color);
  font-weight: var(--font-bold);
}

h2 {
  font-size: 2rem;
  color: var(--first-color-alt);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* -------------------------------------------- */
/* ---------- REUSABLE CSS CLASSES ------------ */
/* -------------------------------------------- */
.section {
  padding: 6rem 0 4rem;
  transition: transform 1s, opacity 1s;
}

.section__title {
  font-size: var(--h1-font-size);
}

.section__subtitle {
  display: block;
  font-size: var(--small-font-size);
  margin-bottom: var(--mb-3);
}

.section__title,
.section__subtitle {
  text-align: center;
}

/* .section--hidden {
  opacity: 0;
  transform: translateY(8rem);
} */

.highlighted__text {
  color: var(--title-color);
}

/* -------------------------------------------- */
/* ----------------- LAYOUT ------------------- */
/* -------------------------------------------- */
.container {
  max-width: 980px;
  margin-left: var(--mb-1-5);
  margin-right: var(--mb-1-5);
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.header {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: var(--body-color);
}

/* -------------------------------------------- */
/* ------------------ NAV --------------------- */
/* -------------------------------------------- */

.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo,
.nav__toggle {
  color: var(--title-color);
  font-weight: var(--font-medium);
}

.nav__logo:hover {
  color: var(--first-color);
}

.nav__toggle {
  font-size: 1.1rem;
  cursor: pointer;
}

.nav__toggle:hover {
  color: var(--first-color);
}

@media screen and (max-width: 767px) {
  .nav__menu {
    position: fixed;
    bottom: -30%;
    left: 0;
    width: 100%;
    background-color: var(--body-color);
    padding: 2rem 1.5rem 4rem;
    box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.15);
    border-radius: 1.5rem 1.5rem 0 0;
    transition: 0.3s ease-in-out;
    z-index: 1000;
  }
}

.nav__list {
  display: flex;
  justify-content: space-around;
}
.nav__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: var(--small-font-size);
  color: var(--title-color);
  font-weight: var(--font-medium);
}

.nav__link:hover {
  color: var(--first-color);
}

.nav__icon {
  font-size: 1.2rem;
}

.nav__close {
  position: absolute;
  right: 1.1rem;
  bottom: 0.5rem;
  font-size: 1.8rem;
  cursor: pointer;
  color: var(--first-color);
}

.nav__close:hover {
  color: var(--first-color-alt);
}

/* ------ SHOW MENU ------ */
.show-menu {
  bottom: 0;
}

/* ------ ACTIVE LINK ------ */
.active-link {
  color: var(--first-color);
}

/* -------------------------------------------- */
/* ------------------ HOME -------------------- */
/* -------------------------------------------- */

.section.home {
  background: url(/assets/img/waves3000final.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: 50%;
  width: 100vw;
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.home__wrapper {
  margin: 0 auto;
}

.home__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: max-content;
}
.home__title {
  font-size: var(--big-font-size);
  color: #fff;
  margin-bottom: 1rem;
  opacity: 0;
  animation: slideFromLeft 1s ease-in-out forwards;
}
.home__subtitle {
  font-size: var(--h3-font-size);
  color: var(--title-color);
  font-weight: var(--font-medium);
  margin-bottom: var(--mb-0-75);
  opacity: 0;
  animation: slideFromLeft 1s ease-in-out 0.3s forwards;
}

.home__description {
  opacity: 0;
  margin-bottom: var(--mb-2);
  animation: slideFromLeft 1s ease-in-out 1s forwards;
}

@keyframes slideFromLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.codelogo {
  width: 420px;
  height: auto;
  opacity: 0;
  animation: slideFromRight 1.3s ease-in-out 1.5s forwards;
}

@keyframes slideFromRight {
  from {
    transform: translateX(200%);
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.home__scroll {
  width: min-content;
  transition: 0.2s all;
  animation: float 1.2s infinite alternate;
  margin: 0 auto;
}

.home__scroll-angle {
  opacity: 0;
  animation: appear 1s ease-in-out 3s forwards;
  font-size: 4rem;
  color: #fff;
}

.home__scroll:hover {
  transform: translateY(0.25rem);
}

@keyframes float {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-10px);
  }
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* -------------------------------------------- */
/* ----------------- BUTTONS ------------------ */
/* -------------------------------------------- */
.button {
  display: flex;
  align-items: center;
  width: max-content;
  border: none;
  background-color: var(--first-color);
  color: #fff;
  padding: 1rem;
  border-radius: 0.3rem;
  font-weight: var(--font-medium);
}

.button.home {
  background-color: #fff;
  color: var(--text-color);
  opacity: 0;
  animation: slideFromLeft 0.5s ease-in-out 2s forwards;
}

.button.home:hover {
  background-color: rgb(250, 250, 250);
}

.button__icon {
  font-size: 1.25rem;
  margin-left: var(--mb-0-5);
  transition: 0.3s;
}

/* -------------------------------------------- */
/* -------------- SECTION ABOUT --------------- */
/* -------------------------------------------- */

.section.about {
  min-height: 100vh;
}

.about__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1120px;
  margin: 0 auto;
}

.about__bio {
  height: 30rem;
  width: 30rem;
  border-radius: 0.3rem;
  border: 2px solid var(--first-color);
  margin-right: 4rem;

  /* height: 70vh; */
}

.about__bio--heading {
  height: 30%;
  text-align: center;
  padding: 30px;
}

.about__bio--heading h2 {
  color: var(--first-color-alt);
  font-size: 30px;
}

.waving__hand {
  font-size: 4rem;

  animation-name: wave-animation; /* Refers to the name of your @keyframes element below */
  animation-duration: 4s; /* Change to speed up or slow down */
  animation-iteration-count: infinite; /* Never stop waving :) */
  transform-origin: 70% 70%; /* Pivot around the bottom-left palm */
  display: inline-block;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  } /* The following five values can be played with to make the waving more or less extreme */
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  } /* Reset for the last half to pause */
  100% {
    transform: rotate(0deg);
  }
}

.about__bio--about {
  height: 40px;
  background: var(--first-color-lighter);
  width: 50%;
  margin: 0 auto;
  transform: translateY(40%);
  text-align: center;
  padding: 10px;
  font-weight: 700;
  font-size: 15px;
  text-transform: uppercase;
}

.about__bio--about h3 {
  color: var(--title-color);
}

.about__bio--text {
  background: var(--first-color);
  padding: 2rem;

  font-weight: 400;
  line-height: 1.5rem;
  height: 18.3rem;
  border-bottom-left-radius: 0.2rem;
  border-bottom-right-radius: 0.2rem;
}

.bio--text__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.about__skills {
  text-align: center;
  width: max-content;
}

.about__skills h2 {
  margin-bottom: 2rem;
}

.about__skills--grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
  margin: auto;
}

.skill-icon {
  font-size: 6rem;
}

.about__skills--item {
  text-align: center;
}

/* ----------------------------------------------- */
/* -------------- SECTION PROJECTS --------------- */
/* ----------------------------------------------- */

.section.projects {
  min-height: 100vh;
  background: var(--first-color);
  padding-bottom: 4rem;
}

.section.projects h2 {
  width: max-content;
  color: var(--body-color);
  margin: 0 auto;
  margin-bottom: 3rem;
}

.projects__item {
  background: var(--body-color);
  height: 30rem;
  width: 25rem;
  margin-left: -3px;
  border-radius: 0.3rem;
  box-shadow: 0px 3px 15px -10px #000000;
  overflow: hidden;
}

.splide__slide {
  padding: 3rem;
}

.splide__arrows i {
  color: var(--body-color);
  font-size: 50px;
}

.splide__arrows button {
  background: transparent;
}

.projects__item--image {
  position: relative;
  width: 100%;
  height: 50%;

  overflow: hidden;

  margin-bottom: 10px;
}

.projects__item--image img {
  transform: scale(95%);
  opacity: 0.8;
  padding-top: 2px;
  transition: 0.2s all ease-in-out;
}
.projects__item--image img:hover {
  transform: scale(100%);
  opacity: 1;
  padding-top: initial;
  border-top-left-radius: 0.3rem;
  border-top-right-radius: 0.3rem;
}

.projects__item--heading {
  height: 40px;
  background: var(--first-color-lighter);
  width: 50%;
  margin: 0 auto;
  text-align: center;
  padding: 10px;
  font-weight: 700;
  font-size: 15px;
  text-transform: uppercase;
  color: var(--title-color);
}

.projects__item--text {
  padding: 10px;
  height: 22%;
  line-height: 1.8rem;
  color: var(--title-color);
}

.projects__item--links {
  display: flex;
  justify-content: space-around;
}

.projects__item--link ion-icon {
  width: 60px;
  height: 60px;
  color: var(--first-color-alt);
  transition: 0.2s all ease-in-out;
}

.projects__item--link ion-icon:hover {
  color: var(--first-color);
  transform: scale(110%);
}

.projects__responsiveImage {
  width: 40%;
  margin: 0 auto;
  margin-top: 3rem;
}

/* -------------------------------------------- */
/* -------------- SECTION CONTACT --------------- */
/* -------------------------------------------- */

.section.contact {
  height: 100vh;
  /* padding-bottom: var(--mb-1-5); */
}

.section.contact h2 {
  width: max-content;
  margin: 0 auto;
  margin-bottom: 6rem;
}

.contact__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contact__info {
  height: 20rem;
}

.contact__information {
  display: flex;
  margin-bottom: var(--mb-2);
}

.contact__icon {
  font-size: 2rem;
  color: var(--first-color);
  margin-right: var(--mb-0-75);
}

.contact__title {
  font-size: var(--h3-font-size);
  font-weight: var(--font-medium);
}

.contact__subtitle {
  font-size: var(--small-font-size);
  color: var(--text-color-light);
}

.contact__subtitle a {
  color: var(--text-color-light);
}

.contact__inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 35rem;
  height: 30rem;
  justify-content: space-around;
}

.contact__content {
  background-color: var(--input-color);
  border-radius: 0.3rem;
  padding: 0.75rem 1rem 0.25rem;
  width: 100%;
}

.contact__label {
  font-size: var(--smaller-font-size);
  color: var(--title-color);
}

.contact__input {
  width: 100%;
  background-color: var(--input-color);
  color: var(--text-color);
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  border: none;
  outline: none;
  padding: 0.25rem 0.5rem 0.5rem 0;
  resize: none;
}

/* -------------------------------------------- */
/* ------------- MEDIA QUERIES ---------------- */
/* -------------------------------------------- */

/* FOR LARGE DEVICES */

@media screen and (max-width: 1016px) {
  /* ---- HOME SECTION --- */

  .section.home {
    margin-top: 0;
  }

  .home__container {
    flex-direction: column;
  }

  .codelogo {
    width: 50vh;
    margin-top: 2rem;
  }

  /* ---- ABOUT SECTION --- */

  .about__container {
    flex-direction: column;
  }
  .about__skills--grid {
    grid-template-columns: repeat(3, 1fr);
    gap: 4rem;
  }

  /* ---- PROJECTS SECTION --- */

  .section.about {
    padding-bottom: 4rem;
  }

  .projects__item {
    width: 100%;
  }
  .projects__responsiveImage {
    width: 60%;
    margin-top: 2rem;
  }
  /* ---- CONTACT SECTION --- */

  .contact__container {
    flex-direction: column;
  }

  .contact__info {
    height: max-content;
    display: flex;
    justify-content: space-between;
    width: 35rem;
  }
}

/* ---- FOR MEDIUM DEVICES ---- */

@media screen and (min-width: 768px) {
  h2 {
    font-size: 2rem;
  }

  .container {
    margin-left: auto;
    margin-right: auto;
  }
  body {
    margin: 0;
  }

  .section__subtitle {
    margin-bottom: 4rem;
  }
  .header {
    top: 0;
    bottom: initial;
    padding: 0 1rem;
    position: absolute;
    transition: 0.5s;
    background-color: transparent;
  }

  .nav {
    height: calc(var(--header-height) + 1rem);
  }
  .nav__icon,
  .nav__close,
  .nav__toggle {
    display: none;
  }
  .nav__list {
    display: flex;
    column-gap: 3rem;
  }
  .nav__menu {
    margin-left: auto;
    margin-right: 2.5rem;
  }
  /* ---- HOME SECTION --- */
  .codelogo {
    width: 30rem;
  }

  /* ---- ABOUT SECTION --- */

  .about__bio {
    width: 30rem;
    margin-right: 0;
    border: 2px solid var(--first-color);
  }

  .about__skills {
    margin-top: 2rem;
  }

  .skill-icon {
    font-size: 6rem;
  }

  /* ---- PROJECTS SECTION --- */
  /* ---- CONTACT SECTION --- */
}

/* ---- FOR SMALL DEVICES ---- */

@media screen and (max-width: 767px) {
  .section {
    padding-top: 2rem;
  }
  h2 {
    font-size: 1.75rem;
  }
  .nav__btns {
    width: 60px;
    display: flex;
    justify-content: space-between;
  }
  #theme-toggle {
    width: 22px;
    height: 22px;
  }

  #theme-toggle svg {
    width: 22px;
    height: 22px;
  }
  /* HOME SECTION */

  .section.home {
    margin-top: -4.5rem;
    padding: 6rem 2rem 2rem;
    margin-bottom: 3.5rem;
  }

  .home__container {
    display: flex;
    flex-direction: column;
    padding-top: 0;
  }

  .codelogo {
    width: 80vw;
    margin-top: 3rem;
  }

  /* ABOUT SECTION */

  .section.about {
    padding: 0;
  }

  .about__container {
    flex-direction: column;
    margin: 0 auto;
    padding-bottom: 4rem;
  }

  .about__bio {
    margin: 0;
    margin-bottom: 2rem;
    height: max-content;
  }

  .about__bio--text {
    padding: 0.5rem 1.5rem 1rem;
    height: max-content;
  }

  .bio--text__item {
    margin-top: 1rem;
  }

  .skill-icon {
    font-size: 5rem;
  }

  .about__skills--grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
  }

  .about__skills {
    width: auto;
  }

  /* PROJECTS SECTION */

  .section.projects {
    padding-bottom: 2rem;
  }

  .section.projects h2 {
    margin-bottom: 0;
  }

  .projects__item {
    height: 24rem;
  }

  .projects__item--image img {
    transform: scale(105%);
  }

  .projects__item--text {
    line-height: 1.2rem;
  }

  .projects__item--link ion-icon {
    width: 45px;
    height: 45px;
  }

  .splide__arrows {
    display: none;
  }

  .splide__slide {
    padding: 40px 10px;
  }

  .projects__item {
    margin-left: initial;
  }

  .projects__item--image {
    height: 50%;
  }

  .projects__responsiveImage {
    margin-top: 3rem;
    width: 80%;
  }

  /* CONTACT SECTION */

  .section.contact h2 {
    margin-bottom: 2rem;
  }

  .contact__container {
    display: initial;
  }

  .contact__info {
    display: block;
    padding: 0 1rem;
    width: 100%;
  }

  .contact__inputs {
    height: 25rem;
    width: 100%;
    padding: 0 1rem;
  }
}
@media screen and (max-width: 450px) {
  .about__bio {
    width: 100%;
    border: none;
    border-radius: 0;
  }
}

@media screen and (max-width: 365px) {
  .codelogo {
    margin-top: 1rem;
  }
  .section.contact {
    height: 130vh;
  }
}
@media screen and (max-width: 320px) {
  h2 {
    font-size: 1.5rem;
  }

  .projects__item {
    height: max-content;
  }
  .projects__item--image {
    height: max-content;
  }

  .projects__item--text {
    height: max-content;
  }
}

/* -------------------------------------------- */
/* -------------- STICKY NAV ------------------ */
/* -------------------------------------------- */

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.sticky {
  position: fixed;
  animation-name: fadein;
  animation-duration: 0.2s;
  box-shadow: var(--nav-shadow);
  background-color: var(--body-color);
}

/* -------------------------------------------- */
/* ------------- DARK/LIGHT THEME ------------- */
/* -------------------------------------------- */

@media (prefers-color-scheme: dark) {
  :root {
    --clr-background: hsl(0 0% 0%);
    --clr-foreground: hsl(0 0% 100%);
  }
}

/* .light-theme {
  --clr-foreground: hsl(0 0% 0%);
  --clr-background: hsl(0 0% 100%);
} */

.dark-theme {
  --first-color-second: hsl(var(--hue-color), 30%, 8%);
  --first-color-lighter: var(--first-color-alt);
  --title-color: hsl(var(--hue-color), 8%, 95%);
  --text-color: hsl(var(--hue-color), 8%, 25%);
  --input-color: hsl(var(--hue-color), 29%, 16%);
  --body-color: hsl(var(--hue-color), 28%, 12%);
  --container-color: hsl(var(--hue-color), 29%, 16%);
  --nav-shadow: 0 1px 3px rgba(219, 219, 219, 0.637);
}

#theme-toggle {
  width: 25px;
  height: 25px;
  cursor: pointer;
  background: 0;
  border: 0;
  opacity: 0.8;
  border-radius: 50%;
}

#theme-toggle svg {
  width: 25px;
  height: 25px;
  fill: var(--title-color);
}

#theme-toggle svg:hover {
  fill: var(--first-color);
}

.light-theme #theme-toggle::before {
  animation: pulseToLight 650ms ease-out;
}

.dark-theme #theme-toggle::before {
  animation: pulseToDark 650ms ease-out;
}

#theme-toggle:hover::after,
#theme-toggle:focus-visible::after {
  opacity: 0.7;
  transform: scale(1);
  transition: transform 70ms linear, opacity 70ms linear;
}

.toggle-circle {
  transition: transform 500ms ease-out;
}

.light-theme .toggle-circle {
  transform: translateX(-15%);
}

.toggle-sun {
  transform-origin: center center;
  transition: transform 750ms cubic-bezier(0.11, 0.14, 0.29, 1.32);
}

.light-theme .toggle-sun {
  transform: rotate(0.5turn);
}

@keyframes pulseToLight {
  0% {
    transform: scale(0);
    opacity: 0.5;
  }
  10% {
    transform: scale(1);
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: scale(1);
  }
}

@keyframes pulseToDark {
  0% {
    transform: scale(0);
    opacity: 0.5;
  }
  10% {
    transform: scale(1);
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: scale(1);
  }
}
